/* 
    Document   : content
    Created on : Nov 5, 2016, 5:06:55 PM
    Author     : limtingzhi
    Description:
        Purpose of the stylesheet follows.
*/

#background-content {
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #FFF;
}

.title {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: #232323;
}

.title img,
.title-sub img {
    position: relative;
    top: 7px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.title-sub {
    text-align: left;
    width: 100%;
    font-size: 18px;
    color: #232323;
}

/* table */
table {
    table-layout:fixed;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    text-align: center; 
    white-space: nowrap; }

/* header and footer styles */
table thead th,
table tfoot th {
    font-weight: bold; 
    outline: none; }
table thead th,
table thead td {
    background-color: #E3E3E3;
    border: 1px solid #9E9E9E;    
    white-space: normal;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    word-wrap: break-word; }
table thead th:active,
table thead td:active {
    outline: none; }

table thead th:first-child,
table thead td:first-child {
    padding: 10px 0px;
    background-color: #E3E3E3;
    border: 1px solid #9E9E9E;   
    width: 65px; }
table thead th:last-child,
table thead td:last-child {
    padding: 10px 10px;
    background-color: #E3E3E3;
    border: 1px solid #9E9E9E;   
    width: 150px; }

/* body */
table tbody tr {
    background-color: #FFF; }
table tbody tr.selected {
    background-color: #FFF3C4; }
table tbody th,
table tbody td {
    padding: 3px 3px; 
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    outline: none; 	
    width: auto; }
table tbody th:last-child,
table tbody td:last-child {
    white-space: normal; 
    overflow: visible; }
table tbody th div,
table tbody td div {
    white-space: normal; 
    word-wrap: break-word; }

/* row border */
table tbody th, 
table tbody td, 
table tbody th, 
table tbody td {
    border: 1px solid #9E9E9E; }
table tbody tr th:first-child,
table tbody tr td:first-child {
    border-left: 1px solid #9E9E9E; 
    outline: none; }

table.hover tbody tr:hover, table tbody tr:hover {
    background-color: #FFF1D8; }
table.hover tbody tr:hover.selected, table tbody tr:hover.selected {
    background-color: #FFF1D8; }

table,
table th,
table td {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

table tbody input[type="text"]{
    display: block;
    width: 94%;
    padding: 4px 5px;
    border: 1px solid #BBB;
    border-radius: 3px;
    outline: none;  
    font-family: 'Roboto'; }
table tbody input[type="text"]:focus {
    border: 1px solid #083667; }

/* specific css */
.no-fixed td {
    text-align: left !important;
    padding: 5px; }
.no-fixed thead td {
    text-align: center !important;}
.no-fixed thead th:first-child,
.no-fixed thead td:first-child {
    padding: 5px 0px; }
.no-fixed.hover tbody tr:hover, .no-fixed tbody tr:hover {
    background-color: transparent; }
.no-fixed.hover tbody tr:hover.selected, .no-fixed tbody tr:hover.selected {
    background-color: transparent; }
.no-fixed.hover tbody td:hover, .no-fixed tbody td:hover {
    background-color: #FFF1D8; }
.no-fixed.hover tbody td:hover.selected, .no-fixed tbody td:hover.selected {
    background-color: #FFF1D8; }

.case-details td {
    text-align: left !important;
    padding: 5px; }
.case-details thead td {
    text-align: center !important;}
.case-details thead td:last-child {
    padding: 5px 10px;
    border: 1px solid #9E9E9E;
    border-top: 0px; }
.case-details .col-1 {
    width: 16.5%; }
.case-details .col-2 {
    width: 17%; }
.case-details .col-3 {
    width: 16.5%; }
.case-details .col-4 {
    width: 50%; }
.case-details.hover tbody tr:hover, .case-details tbody tr:hover {
    background-color: transparent; }
.case-details.hover tbody tr:hover.selected, .case-details tbody tr:hover.selected {
    background-color: transparent; }
.case-details.hover tbody td:hover, .case-details tbody td:hover {
    background-color: #FFF1D8; }
.case-details.hover tbody td:hover.selected, .case-details tbody td:hover.selected {
    background-color: #FFF1D8; }

.create-case td {
    text-align: left !important;
    padding: 5px; }
.create-case thead td {
    text-align: center !important;}
.create-case thead td:last-child {
    padding: 5px 10px;
    border: 1px solid #9E9E9E;
    border-top: 0px; }
.create-case .col-1 {
    width: 13%; }
.create-case .col-2 {
    width: 9.5%; }
.create-case .col-3 {
    width: 18%; }
.create-case .col-4 {
    width: 9.5%; }
.create-case .col-5 {
    width: 50%; }
.create-case.hover tbody tr:hover, .create-case tbody tr:hover {
    background-color: transparent; }
.create-case.hover tbody tr:hover.selected, .create-case tbody tr:hover.selected {
    background-color: transparent; }
.create-case.hover tbody td:hover, .create-case tbody td:hover {
    background-color: #FFF1D8; }
.create-case.hover tbody td:hover.selected, .create-case tbody td:hover.selected {
    background-color: #FFF1D8; }
.create-case textarea {
    width: 98%;
    height: 100px;
    border: 1px solid #BBB;
    border-radius: 3px;
    outline: none;
    font-family: 'Roboto'; }
.create-case select {
    width: 98%;
    height: 28px;
    border: 1px solid #BBB;
    border-radius: 3px;
    outline: none;
    font-family: 'Roboto'; }
.create-case select:focus {
    border: 1px solid #083667; }
.create-case select:disabled,
.create-case textarea:disabled {
    background-color: #EEE !important; }

.checkbox-design {
    width: 25px;
    margin-top: 6px;
    position: absolute; }
.checkbox-design label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    font-weight: bold;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd; }
.checkbox-design label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg); }
.checkbox-design label:hover::after {
    opacity: 0.5; }
.checkbox-design input[type=checkbox]:checked + label:after {
    opacity: 1; }
.checkboxLabel {
    padding-left: 35px;
    font-weight: bold; }

/* button */
.img-btn input[type="image"],
table tbody img {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent; 
    border-radius: 3px;
    outline: none; }

.img-btn input[type="image"]:hover,
table tbody img:hover {
    border: 1px solid transparent;
    background-color: #FF953E;
    border-radius: 3px; }

.handle-msg {
    font-size: 14px;
    text-align: center;
    color: #DD4B39;
    padding-bottom: 10px; }

textarea {
    width: 60%;
    height: 200px;
    border: 1px solid #BBB;
    border-radius: 3px;
    outline: none;
    font-family: 'Roboto'; }

textarea:focus {
    border: 1px solid #083667; }

.content-form input[type="submit"],
.content-form input[type="button"],
.back-btn,
.search-div input[type="submit"],
.search-div input[type="reset"] {
    margin-top: 10px;
    display: inline-block;
    height: 25px;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #EF6C00;
    outline: none;
    cursor: pointer; }

.content-form input[type="submit"]:hover,
.content-form input[type="button"]:hover,
.back-btn:hover,
.search-div input[type="submit"]:hover,
.search-div input[type="reset"]:hover {
    background-color: #D66000;
}

/* Search */
#search-padding {
    margin-top: -10px; }
.search-div {
    text-align: center;
    width: 48%;
    padding-left: 1%;
    padding-right: 1%;
    float: left; }
.search-div p {
    border-bottom: 1px dotted #000000;
    padding-bottom: 5px; 
    font-weight: bold; }
.search-div tbody td, 
.search-div tbody td {
    border: 1px solid transparent; }
.search-div tbody tr th:first-child,
.search-div tbody tr td:first-child {
    border-left: 1px solid transparent; 
    outline: none; }
.search-div .col-1 {
    width: 30%; }
.search-div .col-2 {
    width: 70%; }
.search-div.hover tbody tr:hover, .search-div tbody tr:hover {
    background-color: transparent; }
.search-div.hover tbody tr:hover.selected, .search-div tbody tr:hover.selected {
    background-color: transparent; }